<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7E19E761C6D443300E3F62E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7E19E8A1C6D443400E3F62E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7E19E951C6D443400E3F62E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
